<div class="container">
  <div class="row">
    <div
      class="col-sm-3 list-item-block"
      *ngFor="let l of taskListItems; let i = index"
      droppable
      (onDrop)="onItemDrop($event, i)">
      <div class="row">
        <div class="col-md-9">
          <h4 class="list-heading">{{ l?.name }}</h4>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary btn-pos" (click)="onDeletelist(template)">Delete</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <!--  -->
          <div class="form-group">
            <input #box type="text" class="form-control" name="tasklist-{{i}}" id="tasklist-{{i}}"  placeholder="Enter task name" >
          </div>
        </div>
        <div class="col-md-6">
          <!--  -->
          <button (click)="onAddTask(l.id,box.value)" class="btn btn-primary">Add Task</button>
        </div>
      </div>
        <div *ngFor="let item of l?.taskItems" class="task">
          <app-task [taskItem]="item" (taskDeleteEvent)="deleteTask($event)" ></app-task>
        </div>
        <ng-template #template>
          <div class="modal-body text-center">
            <p>Do you want to delete task list?</p>
            <button type="button" class="btn btn-default" (click)="confirm(l)" >Yes</button>
            <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
          </div>
        </ng-template>
    </div>
  </div>
</div>

