.task{
    margin-bottom: 10px;
}

.list-heading{
    margin-bottom: 30px;;
}
.list-item-block {
    border: dashed;
    border-radius: 5px;
    border-color: aqua;
    margin:0 10px;
    min-height: 550px;
}

.btn-pos{
    margin-left: -37px;
    margin-top: 5px;
}